doctype html 
html
    head
        block title 
        block style
    body     
        nav#navbar 
            ul#nav 
                img(src="../static/sss.png", alt="#")
                div.ele
                    li 
                        a(href="/") Home
                    li 
                        a(href="/about") About
                    li 
                        a(href="/skills") Skills
                    li 
                        a(href="/enroll") Certificates
                    li 
                        a(href="/contact") My CP
        block content
        footer#footer
            p Copyright © 2019 saurabhsalunke.com |All rights are reserved

