
extends base.pug
block title 
    title Saurabh Salunke
block style 
    style 
        include ../static/style.css
    script 
        include ../static/index.js

block content
    
        section#intro 
            div.info 
                p Hi, I am
                p Saurabh Salunke.
                p I'm Web Developer and App Developer.
                div.but 
                        span#download 
                            a(href="/download") Download CV 
                        span#contact 
                            a(href="/contact") Contact
            div.prof 
                img(src="../static/mypic.png", alt="#")
        section.about
            h2.title About
            div.about_box
                div#prof2
                    img(src="../static/20221014_111050.png", alt="#")
                div#about
                    p.normalText Hi there! My name is Saurabh Salunke and I’m Web Developer and App Developer. I have always been passionate about development. Currently I’m working on my DSA and Problem solving skills.
                    p.normalText I am always looking for new challenges and opportunities to grow and learn as a Software Engineer. I hope you enjoy looking through my portfolio and getting to know more about my work. 
                    p.normalText Thank you, for visiting my website !
                    .container
                        .row
                            .col-md-12
                                .card
                                    .card-body
                                        h3.card-title My eduaction:
                                            #content
                                                ul.timeline
                                                    li.event(data-date='2022-2025')
                                                        h3 B-Tech in Information Technology.
                                                        p Walchand College of Engineering,Sangli.
                                                    li.event(data-date='2019-2022')
                                                        h3 Diploma in Computer Engineering
                                                        p SVERI's College of Engineering, Pandharpur.
                                                    li.event(data-date='2018-19')
                                                        h3 SSC
                                                        p Shree Ganesh Vidyalay,Pimpalner(Solapur).
                                                    //- li.event(data-date='8:30 - 9:30pm')
                                                    //-     h3 Closing Ceremony
                                                    //-     p
                                                    //-     | See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.
        section.my-skills
            h2.title Skills 
            div.sills
                div.img-logo
                    div#c 
                        img(src="../static/c.png", alt="#",onmouseover="print1(this)")
                        div#c1
                    div#cpp
                        img(src="../static/cpp.png", alt="#",onmouseover="print1(this)")
                        div#cpp1
                    div#java 
                        img(src="../static/java.png", alt="#",onmouseover="print1(this)")
                        div#java1
                    div#python 
                        img(src="../static/python.png", alt="#",onmouseover="print1(this)")
                        div#python1
                    div#html 
                        img(src="../static/html.png", alt="#",onmouseover="print1(this)")
                        div#html1
                div.img-logo
                    div#css 
                        img(src="../static/css.png", alt="#",onmouseover="print1(this)")
                        div#css1
                    div#js
                        img(src="../static/js.png", alt="#",onmouseover="print1(this)")
                        div#js1
                    div#mongo
                        img(src="../static/mongodb.png", alt="#",onmouseover="print1(this)")
                        div#mongo1
                    div#node 
                        img(src="../static/node.png", alt="#",onmouseover="print1(this)")
                        div#node1
                    div#figma
                        img(src="../static/figma.png", alt="#",onmouseover="print1(this)")
                        div#figma1

                