@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rajdhani:wght@300&family=Source+Code+Pro:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}
.normalText{
    font-size: 17px;
}
#navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: black;
    /* opacity: 0.8; */
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:flex-start; */
    /* justify-content: center; */
    /* padding: 5px 5px; */
    height: 70px;
}
#nav img{
    height:130px;
    width:140px;
    /* filter: invert(1); */
    margin-top: -20px;
    margin-left: 3em;
}
#nav li{
    list-style: none;
    /* margin-top: 10px;
    margin-left: 50px; */
}
.ele{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.ele li a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    margin: 5px 40px;
    font-size: 18px;
}
.ele li a:hover{
    font-weight: bold; 
    color: tomato;
    text-decoration: underline;
}
#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 50px;
    height:  80vh;
    flex-direction: row;
    background: url('../static/bg.png') no-repeat center center/cover;
    
}

.info{
    display: flex;
    flex-direction: column;
}
.info p:first-child{
    font-family: 'Source Code Pro', monospace;
    font-size: 2.4rem;
}
.info p:nth-child(2){
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6rem;
    font-style: italic;
}
.info p:nth-child(3){
    /* font-weight: bold; */
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-style: italic;
}
#download a,#contact a{
    
    text-decoration: none;
    color: black;
}
#download,#contact
{
    background-color: rgb(243, 235, 235);
    box-shadow: inset -5px -5px 10px tomato, inset 5px 5px 10px tomato;
    margin-top: 25px;
    margin-left: 100px;
    padding: 5px 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    ;
}
#download:hover,#contact:hover
{
    opacity: 0.6;
}
.prof img{
    height: 60vh;
    border-radius: 25px;
    opacity: 0.8;
    box-shadow: 10px 10px 10px tomato;
    transform: skewX(-7deg);
}
.small{
    font-size: 1.5rem;
}
.title{
    text-align: center;
}
.about_box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    padding-left: 70px;
    
}
#prof2 img{
    height: 40vh;
    border-radius: 25px;
    filter: brightness(0.6);
}
#prof2 img:hover{
    box-shadow: 5px 5px 10px tomato;
    filter: brightness(0.8);
}
#about{
    margin:0em 3em;
}
.about{
    padding: 2em 0em;
    background-color: rgb(37, 37, 37);
    color: rgb(169, 165, 165);
}
.timeline {
    border-left: 3px solid tomato;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 50%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline p {
    font-weight: 200;
    font-size: 0.8em;
}
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-size: 0.8em; 
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #eff0f9;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}
.container{
    margin-top: 20px;
}

/* Skills section */
.my-skills{
    padding: 2em 0em;
    background-color: rgb(37, 37, 37);
    color: white;  
    height: 60vh; 
}
.skills{
    display: flex;
    flex-direction: column;
}
.img-logo{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
    margin-top: 2em;
    color: white;
}

.img-logo img:hover{
    filter: grayscale(0%);
}
.img-logo img{
    filter: grayscale(80%);
    width: 6rem;
}
  
 